version: '3.5'

services:
  timescaledb:
    container_name: timescaledb
    image: timescale/timescaledb:2.5.0-pg13
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
    volumes:
      - timescaledb:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  jaeger:
    container_name: jaeger
    image: jaegertracing/all-in-one:1.19
    ports:
      - "6831:6831/udp"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"

  prometheus:
    image: prom/prometheus:v2.1.0
    volumes:
      - ./build/prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090
    #network_mode: "host"
    restart: always

  grafana:
    image: grafana/grafana
    user: "472"
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    #network_mode: "host"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./build/grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./build/grafana/config.monitoring
    restart: always

  redis-queue:
    image: bitnami/redis:7.0
    env_file:
      # Check envvars for configurable options
      - ./build/lily/redis-queue.env
    ports:
      - 6379:6379
    restart: always

  notifier:
    image: filecoin/lily:v0.11.0
    env_file:
      # Check envvars for configurable options
      - ./build/lily/notifier.env
    depends_on:
      - prometheus
      - timescaledb
      - jaeger
      - redis-queue
    ports:
      - 1234:1234
    volumes:
      # holds lily datastore repo
      - lily_notifier_data:/var/lib/lily
      # persist params through restarts
      - lily_notifier_tmp:/var/tmp/filecoin-proof-parameters
      # notifier-specific config
      - ./build/lily/notifier_config.toml:/var/lib/lily/config.toml
      - ./build/lily/docker_init.sh:/usr/bin/docker_init.sh
      # optional local snapshot import
      - ./build/snapshots/snapshot.car:/var/lib/lily/snapshot.car
    entrypoint: /usr/bin/docker_init.sh
    command:
      - "daemon --bootstrap=false"

  worker:
    image: filecoin/lily:v0.11.0
    env_file:
      # Check envvars for configurable options
      - ./build/lily/worker.env
    depends_on:
      - prometheus
      - timescaledb
      - jaeger
      - redis-queue
      - notifier
    ports:
      - 1234
    volumes:
      # holds lily datastore repo
      - lily_worker_data:/var/lib/lily
      # persist params through restarts
      - lily_worker_tmp:/var/tmp/filecoin-proof-parameters
      # notifier-specific config
      - ./build/lily/worker_config.toml:/var/lib/lily/config.toml
      - ./build/lily/docker_init.sh:/usr/bin/docker_init.sh
      # optional local snapshot import
      - ./build/snapshots/snapshot.car:/var/lib/lily/snapshot.car
    entrypoint: /usr/bin/docker_init.sh
    command:
      - "daemon --bootstrap=false"

volumes:
  timescaledb: {}
  prometheus_data: {}
  grafana_data: {}
  lily_notifier_data: {}
  lily_worker_data: {}
  lily_notifier_tmp: {}
  lily_worker_tmp: {}
