version: 2.1

executors:
  golang:
    docker:
      - image: cimg/go:1.15.2
  dockerizer:
    docker:
      - image: cimg/go:1.15.2
    environment:
      IMAGE_NAME: filecoin/sentinel-visor

jobs:
  test:
    executor: golang
    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt-get install -y pkg-config jq mesa-opencl-icd ocl-icd-opencl-dev
      - run: make deps
      - run: make build
      - run: make testshort

  docker-build:
    executor: dockerizer
    steps:
      - checkout
      - setup_remote_docker:
          version: "18.09.3"
      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME .
      - run:
          name: Archive Docker image
          command: docker save -o docker-image.tar $IMAGE_NAME
      - persist_to_workspace:
          root: .
          paths:
            - ./docker-image.tar

  docker-push:
    executor: dockerizer
    steps:
      - checkout
      - setup_remote_docker:
          version: "18.09.3"
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/docker-image.tar
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            ./scripts/push-docker-tags.sh "$IMAGE_NAME" "$CIRCLE_SHA1" "$CIRCLE_BRANCH" "$CIRCLE_TAG"

workflows:
  version: 2
  check:
    # `test` runs for all branches
    # `docker-build` runs for all branches and tags that look like semver
    # `docker-push` runs master or main branches and tags that look like semver
    # see: https://circleci.com/docs/2.0/workflows/#executing-workflows-for-a-git-tag
    jobs:
      - test
      - docker-build:
          filters:
            tags:
              only: /^v[0-9].*/
      - docker-push:
          requires:
            - docker-build
          filters:
            branches:
              only:
                - master
                - main
                - /.*-master$/
            tags:
              only: /^v[0-9].*/
